/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 0;
  width: 100%;

  @media (max-width: 375px) {
    gap: 20px;
  }
}
  /* Logo container */
  .logo-container {
    display: flex;
    align-items: center;
  }

    .header_logo {
      width: 210.322px;
      height: 68px;

      @media (max-width: 375px) { 
        width: 100px;
        height: auto;
      }
    }
    

  /* Navbar links */
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 30px; 
    flex-shrink: 1;

     @media (max-width: 375px) {
      gap: 20px;
    }
  }

    .navbar__link {
      color: black;
      text-decoration: none;
      flex-wrap: nowrap;

      @media (max-width: 375px) {
        font-size: 18px;
      }
    }

    .navbar__link:hover {
      text-decoration: underline;
    }