/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 50px 0;
  width: 100%;

  @media (max-width: 375px) {
    padding: 45px 20px 0;
  }
} 
  /* Logo container */
  .logo-container {
    display: flex;
    align-items: center;
  }

    .header_logo {
      width: 210px;
      height: 68px;

      @media (max-width: 375px) { 
        width: 145px;
        height: 46px;        
      }
    }
    

  /* Navbar links */
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 50px; 
    justify-content:flex-end;

    @media (max-width: 375px) {
      width: 190px;
      height: 17px;
      gap: 12px;
    }
  }

    .navbar__link {
      color: black;
      text-decoration: none;
      flex-wrap: nowrap;
    
      @media (max-width: 375px) {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .navbar__link:hover {
      text-decoration: underline;
    }