@import '/src/utils/style/variables.scss';

.gallery {
    display: flex;
    flex-direction: row;
    padding: 56px 50px;
    width: 1240px;
    height: 829px;
    flex-shrink: 0;
    background: #F6F6F6;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: $border-radius;
}
    .gallery__items {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        background-color: $secondary-color;
        background: linear-gradient(180deg, rgbap(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);
    }