@import '/src/utils/style/variables.scss';

.gallery {
    display: flex;
    flex-direction: row;
    padding: 56px 50px;
    width: 1240px;
    gap: 50px;
    flex-shrink: 0;
    background:  #F6F6F6;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: $border-radius;
    margin: 0px;   
}

@media (max-width: 375px) {
    .gallery {
        flex-direction: column; 
        width: 100%; 
        background: none;
    }
}