@import '/src/utils/style/variables.scss';

.gallery {
  width: 100%;
  background-color:#F6F6F6;;
  padding: 50px 0px;
  border-radius: 30px;

  @media (max-width: 555px) {
  }
}

.subgallery {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 93%;
  gap: 60px 5%;
  margin: 0 auto;
}
