/* Footer container */
.footerbar {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    padding: 60px 60px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    background: #000;
  
  @media (max-width: 375px) {
    height: 409px;
    padding: 66px 120px 58px; 
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
  }
}
  
    /* Logo container */
    .logo {
      width: 122px;
      height: 39.444px;
      flex-shrink: 0;
    }
    
    /* Footer notes */
    .footer__container {
      display: flex;
      width: 513px;
      height: 46px;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 34.224px */

      @media (max-width: 375px) {
       
      }
    }
    